.navbar{
    height:170px;
    background-color: #FFFFFF;
}
html{
  scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #f9f3f2;
  }
  
  /*body:before{
    background-image:url('./assets/img/Group 8.png');
     background-size: 8% auto ;
    background-repeat: no-repeat;
    background-position:0% 17%;;
    background-origin: content-box;
    content: '';
    display: block; 
    position: absolute;
    width: 100%;
    height: 100%;
  }*/
  
  .gr {
    top: 100px;
    left: -90px;
    position: absolute;
    background-image: url('../images/Group 8.png');
    background-repeat: no-repeat;
    height: 200px;
    width: 200px
  }
  
  .mobile {
    margin-top: 40px;
  }
  
  @media only screen and (max-width: 700px) {
    /*body:before {
     background-image:url('./assets/img/Group 8.png');
     background-size: 8% auto ;
    background-repeat: no-repeat;
    background-position:0% 10%;;
    background-origin: content-box;
    content: '';
    display: block; 
    position: absolute;
    width: 100%;
    height: 100%;
    }*/
  
    .gr {
      top: 65px;
      left: 10px;
      position: absolute;
      background-image: url('../images/Group 8.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px
    }
  
    .mtopphone {
      margin-top: 60px;
    }
  
    .mobile {
      margin-top: -10px;
    }
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (max-width: 700px) {
    .hide {
      display: none;
      height: 10px;
      background: red;
    }
  }
  
  @media only screen and (min-width: 700px) {
    .mtop {
      margin-top: 20px;
    }
  }

  .linkhover:hover{
    cursor: pointer;
  }
  .box-content{
    display:flex;
    justify-content: flex-start;
    /* align-items:center; */
    flex-direction: column;
    height: 100%; 
    position: absolute;
    left: 0px; width: 100%; 
  }

  @media only screen and (max-width: 700px) {
    .front-bg-mobile{
      background-size:100% 100%;
      overflow: auto;
    }
    .mobile{
      display:block;
    }
    .front-bg-desktop{
      display:none
     }
  }
  @media only screen and (min-width: 700px) {
    .mobile{
      display:none;
    }
    .front-bg-mobile{
     display:none
    }
    .front-bg-desktop{
      display:block;  
      height: 100%;   
      width: 100%; 
      margin:0px;
      padding:0px; 
      overflow: hidden;   
     }
     .front-bg-desktop-box{
      background-size:100% 100%;
      height: 100%;   
      /* background-origin: content-box; */
     }
  }

  .wedding-of{
    font-family: Montserrat;
    font-size: 20px;
    color:white;
    /* font-weight: 500; */
    line-height: 44px;
    letter-spacing: 2.9037039279937744px;
    text-align: center;
  }

  .name-of{
     font-family: Tangerine,cursive;
    font-size: 45px;
    font-weight: 400;  
    color:white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E0B45D;
  }
  .waktu-custom{
    position: absolute;
    left: 15.28%;
    right: 15.4%;
    top: 81.72%;
    bottom: 15.96%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 2.9037px;
    text-transform: uppercase;

    color: #23375B;
  }
  .custom-button{
    position: absolute; 
    box-sizing: border-box;
    padding:5px;
    background: #FFFFFF;
    border: 1px solid #D61A23;
    box-shadow: 0px 20px 35px rgba(156, 122, 77, 0.15);
    border-radius: 3px;
    color:#E75F57;
    font-size:12.8px;
  }
  .foto-wedding{
    width:100%;
    height:auto
  }

